* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
/*
p {
    font-size: 25px;
    text-align: center;
}
*/
p {
    font-size: 20px;
    text-align: center;
}

#pLoto, #pSorte {
    margin-top: 60px;
}


.father, .father2, .father9  {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 300px;
    margin-top: 50px;
   
}


.combobox {

  /*
    background-image: url('../img/mega.jpg');
    opacity: 0.7;
    */

}

select {
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
   
}



.btnAdd {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

#pFather,  #pFather2, #pFather3, #pFather4, #pFather7, #pFather8 {
    display: flex;
    justify-content: space-between;
    width: 35%;
 
  
 
}

#pFather7 {
    width: 100%;
    height: auto;   
}

.month {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-top: 10px;
    margin-left: 305px;

}


.pChild, .div-child, .div-child7, .div-child8 {

    border-radius: 80%;
    padding: 10px;
  
    
}



.pChild2 {

    border-radius: 80%;
    padding: 5px;
    
}


#pFather2 {
    width: 100%;
   
}

.div-child, .div-child7, .div-child8 {
    background-color: #1cf87b;
    border: 1px solid black;
    
    margin: 5px 5px 5px 5px;

}

.div-child7 {
    background-color: #d629d6;
}
.div-child8 {
    background-color: #DAA520;
}

.number-text {
    font-size: 50px;
}

.number-text {

    font-size: 20px;
}

#divFather, #divFather7, #divFather8{
display: flex;;
height: auto;
flex-Wrap: wrap;
width: 70%;
justify-content: flex-start;
margin-left: 100px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 #8b8a8a, 0 6px 20px 0 #5e5c5c;


}

.child2 {
    margin-left: 250px;

}

#idFather2, #idFather7, #idFather8{
margin-left: 400px;
align-items: center;
width: 2%;
margin-bottom: 10px;

}


#idFather7{
    width: 20%;
}

#idFather8 {
    width: 5%;
 
}

.father9 {
    margin-top: 5px;
 
}

#submit11 {
    margin-top: 5px;
}

#selectFilter11 {
    margin-right: 5px;
}

h2 {
    text-align: center;
}

.divH2 {
    /*background-image: linear-gradient(  45deg, #1cf87b 30%, #00CED1);*/
    background-image: linear-gradient(45deg, #1cf87b 20%, #00CED1 80%);

    box-shadow: 0 4px 8px 0 #8b8a8a, 0 6px 20px 0 #5e5c5c;
}

.divH7, .divH8 {

    background-image: linear-gradient(45deg,#FF1493 20%, #00CED1 80%);

    box-shadow: 0 4px 8px 0 #8b8a8a, 0 6px 20px 0 #5e5c5c;
}

 {
    background-color: #dfc480;
}